body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  /* Estilos de la barra de navegación */
  nav ul {
    list-style: none;
    background-color: #444;
    padding: 5px;
    display: flex;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: dotted;
    padding: 5px;
  }
  
  /* Estilos del contenido principal */
  main {
    padding: 20px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }

  a:hover{
    color: #000000;
    text-decoration: underline;
}

a{
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

img{
  height: 5cm;
  width: auto;
  display: inline-block;
  margin-right: 15px;
  justify-content: space-between;
}

.imagecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting{
  text-align: center;
}